<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header>
        <%- include('../partials/head'); %>
    </header>
    <main>
        <h1><%= h1 %></h1>
        <div>
            <p>
                <%= p %>
            </p>
        </div>
        <%- include('../partials/header'); %>
        <a href="/about">Go about!</a>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>
